.app-button {
    border: 0;
    cursor: pointer;
    user-select: none;
    padding: 6px 16px;
    text-transform: uppercase;
    min-width: 64px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    color: rgba(255, 255, 255);
    background-color: #006400;
    box-shadow: 0 0 3px 1px #0b940b;
    transition: all .25s ease-out;
}
.app-button:hover {
    background-color: #006400aa;
}
.app-button:active {
    transform: scale(.9);
}
