
span.status {
    display: inline-block;
    padding: 0px 10px 3px;
    color: white;
    user-select: none;
    width: 189px;
}
span.pending {
    border: 2px solid #006400;
}
span.completed {
    background-color: #006400;
}
