.form-add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #00640088;
  border-radius: 20px;
  padding: 5px;
  margin-top: 20px;
}
